<html>
    <head>
        <title>
            configure your model
        </title>
    </head>
    <body>
        <p>please select some option before using the chatbot,
            if you have changes the data parameters. click yes otherwise no.
        </p>
        <form action="">
        <label for="param">Data Param</label>
        <input type="text" name="change_param" id="param"><br>
        <label for="training">Have you Train the model</label>
        <input type="text" name="train_model" id="training">
        
        <button type="submit">submit</button>
    </form>
    </body>
</html>